// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/*
configuraremels estils que volem aplicar a la nostra web
*/
body
{
    font-family: var(--font-sans);
    background-color: #f8f9fa;
    text-align: justify;
}
